# Google API Key for accessing Google's generative AI services (e.g., Gemini models)
# Potential models to try in free tier
#    - gemini-2.5-flash-lite
#    - gemini-2.5-flash
#    - gemini-2.5-pro
#    - gemini-3.1-flash-lite-preview
#    - gemini-3-flash-preview
#    - gemini-flash-latest
GOOGLE_API_KEY=""

# Groq API Key for accessing Groq's fast inference API for various LLM models
# Potential models to try in free tier
#    - openai/gpt-oss-120b
#    - qwen/qwen3-32b
#    - llama-3.3-70b-versatile
#    - openai/gpt-oss-20b
#    - llama-3.1-8b-instant
#    ----- Groq also has free audio to text models : 
#        - whisper-large-v3
#        - whisper-large-v3-turbo
GROQ_API_KEY=""
